*::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

*{
    padding: 0;
    margin: 0;
    box-sizing : border-box;
}

.MainPage {
    background-color: #FFCACA;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.Box{
    height: 40rem;
    width: 35rem;
    background-color: #FFECEF;
    border-radius: 2rem;
    margin: 6rem;
    overflow: hidden;
    text-align: center;
    border: solid 0.1rem;
    border-color: #9EA1D4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: pre-wrap;
    font-size: 0.5rem;
}

@media (max-width: 800px) {
    .Box {
        height: auto;
        width: 100%;
        border-radius: 1rem;
        padding: 0;
        border: 0;
        margin: 1rem;
        overflow: hidden;
        text-align: center;
        font-size: 0.3rem;
    }
    .MainPage {
        height: auto;
        min-height: 100vh;
        flex-flow: column;
    }
  }


.Box_title {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    color: #D21312;
}